$transparent: transparent;

$color_light: #efefff;
$color_light_soft: #efefff;

$color_dark: #18191c;
$color_dark_soft: #2c2f33;

$color_acent: #faa61a;
$color_contrast: #7289da;

$color_btn_sign: #43b581;

$color_btn_outline: $transparent;
