<header class="row middle-xs between-xs main-header">
  <a class="main-header__badge" title="{{ 'Ir para a pagina inicial' | translate }}" routerLink="/">
    <img src="./images/my-team-logo.png" alt="My Team Logo">
    <h1 class="main-header__title">My Team</h1>
  </a>

  <section class="row middle-xs main-header__actions">

    <div class="main-header__locale">
      <app-language></app-language>
    </div>

    <button *ngIf="!player.logged" class="button button--sign" title="{{ 'Entrar com sua conta da steam' | translate }}" (click)="login()">
      <i class="icon icon-steam"></i>
      <span class="button__content" translate>Entrar com steam</span>
    </button>

    <div *ngIf="player.logged" class="row middle-xs main-header__profile">
      <a title="{{ 'Ir para seu perfil' | translate }}" routerLink="/{{ 'jogador' | translate }}/{{player.steam_name}}">
        <img class="profile__photo" src="{{player.avatar}}" alt="{{ 'Foto de perfil' | translate }} {{player.steam_name}}">
      </a>
      <div class="profile__informations">
        <a class="profile__name" title="{{ 'Ir para seu perfil' | translate }}" routerLink="/{{ 'jogador' | translate }}/{{player.steam_name}}">
          {{player.steam_name}}
        </a>
        <br>
        <button class="profile__button button button--text" title="{{ 'Sair da sua conta' | translate }}" (click)="loggout()">
          <i class="icon icon-exit"></i>
          <span class="button__content" translate>Sair</span>
        </button>
      </div>
    </div>

    <div *ngIf="player.logged" class="row middle-xs main-header__settings">
      <button class="profile__settings button button--text" title="{{ 'Configurações de conta' | translate }}">
        <i class="icon icon-settings"></i>
      </button>
    </div>

  </section>
</header>
