@import 'colors';
@import 'sizes';
@import 'indexs';

.main-header,
.main-header__sign,
.main-header__locale,
.main-header__profile,
.main-header__actions,
.main-header__settings {
  display: flex;
}

.main-header {
  align-items: center;
  background-color: $color_dark;
  box-shadow: 0px 0px 5px 5px $color_dark;
  justify-content: space-between;
  padding: 0 35px;
  position: fixed;
  height: $size_header;
  width: 100%;
  z-index: $index-header;
}

.main-header__badge {
  max-height: 50px;
}

.main-header__title {
  display: none;
}

.main-header__locale {
  align-items: center;
  padding: 0 10px;
}

.main-header__sign {
  align-items: center;
  height: 100%;
  padding: 10px 0;
}

.profile__settings {
  transition: .5s transform ease-in-out;
  .icon {
    font-size: 25px;
  }
  &:hover {
    transform: rotate(180deg);
  }
}
.main-header__profile {
  align-items: center;
  background-color: $color_dark_soft;
  height: 100%;
  padding: 10px 25px;
}

.profile__name {
  font-weight: 500;
  font-size: 16px;
}

.profile__photo {
  border-radius: 50%;
  margin-right: 1em;
  width: 50px;
}
.profile__button {
  padding: 0;
  .button__content {
    color: $color_contrast;
    font-size: 14px;
    font-weight: 400;
  }
  .icon {
    color: $color_contrast;
    font-size: 15px;
  }
}
