@font-face {
  font-family: 'my-team';
  src:  url('fonts/my-team.eot?pc23cj');
  src:  url('fonts/my-team.eot?pc23cj#iefix') format('embedded-opentype'),
    url('fonts/my-team.ttf?pc23cj') format('truetype'),
    url('fonts/my-team.woff?pc23cj') format('woff'),
    url('fonts/my-team.svg?pc23cj#my-team') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-team' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gamepad2:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e901";
}
.icon-group:before {
  content: "\e900";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-user:before {
  content: "\e971";
}
.icon-bug:before {
  content: "\e999";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-steam:before {
  content: "\eaac";
}
